<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167304239982-4phrmja3ilg4jihsbnkmvlvi80cqef6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167304239982-4phrmja3ilg4jihsbnkmvlvi80cqef6e</string>
	<key>API_KEY</key>
	<string>AIzaSyBKpZUF8oOviT1niBMnL6zlJH9qnwVSbF8</string>
	<key>GCM_SENDER_ID</key>
	<string>167304239982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GabrielCastilloSerafim.Group-Do</string>
	<key>PROJECT_ID</key>
	<string>group-do-5bc8a</string>
	<key>STORAGE_BUCKET</key>
	<string>group-do-5bc8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167304239982:ios:6b8881302080385e06ff7f</string>
</dict>
</plist>